<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eastedu.bigdata.remoteliving.dao.mapper.remote.RemoteTachingMapper">
    <!--获取高中在线用户详情-->
    <select id="gzGetUserOnlineDetail" resultType="UserOnlineDetailPO"
            parameterType="UserOnlineCondition">
        SELECT distinct *
        FROM
        (
        SELECT a.userId,
        a.userName,
        b.channelId ,
        c.channelName ,
        'GZ_'+SUBSTRING(c.ChannelName, 0, CHARINDEX('届', c.ChannelName, 0)) seniorCode ,
        '高'+SUBSTRING(c.ChannelName, 0, CHARINDEX('届', c.ChannelName, 0))+'届' seniorName ,
        CASE
        WHEN CHARINDEX('文理', c.ChannelName) > 0 THEN '文理科'
        WHEN CHARINDEX('文科', c.ChannelName) > 0 THEN '文科'
        WHEN CHARINDEX('理科', c.ChannelName) > 0 THEN '理科'
        END AS wlk,
        s.provinceAdCode ,
        s.provinceName ,
        s.cityAdCode ,
        s.cityName ,
        s.areaAdCode ,
        s.areaName ,
        s.schoolName ,
        s.schoolLat ,
        s.schoolLng ,
        lesson.SubjectCode AS subjectCode,
        lesson.SubjectName AS SubjectName,
        lesson.LessonBeginDateTime AS beginTime,
        lesson.LessonEndDateTime AS endTime,
        CASE
        WHEN CHARINDEX('备课',c.channelName)>0 THEN '备课'
        ELSE '上课'
        END AS remoteType,
        CASE
        WHEN d.UserId IS NOT NULL  OR e.UserName IS NOT NULL THEN 1
        ELSE 0
        END AS satelliteOnline
        FROM [senionUnitedClass].[dbo].[t_System_User] a
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_UserChannels] b ON a.UserID =b.UserID
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_Channels] c ON b.ChannelID =c.ChannelID
        INNER JOIN dbo.Region s ON SUBSTRING(a.UserName, 0,(len(a.UserName))-(CHARINDEX('（', reverse(a.UserName), 0))+1)  = s.SchoolName
        LEFT JOIN
        (
        SELECT
        a.*,
        c.[SubjectName],
        c.[SubjectCode],
        c.[SubjectValue]
        FROM
        (SELECT *
        FROM [GZ_XXPT_transaction].[dbo].[WD_BASE_ZHI_BO_Lessons]
        WHERE [LessonBeginDateTime]<![CDATA[ <= ]]>DATEADD(DAY,0,getDate())
        AND LessonEndDateTime<![CDATA[ >= ]]>DATEADD(DAY,0,getDate())) a
        LEFT JOIN [GZ_XXPT_transaction].[dbo].[WD_BASE_ZHI_BO_Teacher] b
        ON a.[TeacherID]= b.[TeacherID]
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_Subject] c
        ON b.[SubjectID]=c.[SubjectID]
        )lesson
        ON b.ChannelID=lesson.ChannelID and a.UserSubject<![CDATA[ & ]]>lesson.SubjectValue>0
        LEFT JOIN (select * from GZ_XXPT_transaction.dbo.WD_BASE_ZHI_BO_UserLessons where UserLessonDescription ='在线未显@') d
        on lesson.LessonID=d.lessonid and a.UserID =d.UserID and UserLessonAddDateTime <![CDATA[ <= ]]> lesson.LessonEndDateTime
        and UserLessonAddDateTime<![CDATA[ >= ]]>LessonBeginDateTime
        LEFT JOIN
        (
        SELECT DISTINCT UserName
        FROM
        (
        SELECT ROW_NUMBER() OVER (PARTITION BY UserName ORDER BY UserActiveDateTime DESC) AS rank ,
        UserName ,
        ChannelName,
        UserActiveType
        FROM [senionUnitedClass].[dbo].[t_System_UserActive]
        WHERE UserActiveDateTime >=CONVERT(datetime,Convert(varchar(10),DATEADD(DAY,-3,getDate())))
        ) t
        WHERE t.rank = 1 AND t.UserActiveType = 1) e ON a.UserName=e.UserName
        ) tt
        WHERE 1=1
        <include refid="com.eastedu.bigdata.remoteliving.dao.mapper.remote.CommonSqlMapper.filterCondition"></include>
    </select>
    <!--获取初中在线用户详情-->
    <select id="czGetUserOnlineDetail" resultType="UserOnlineDetailPO"
            parameterType="UserOnlineCondition">
        SELECT distinct *
        FROM
        (
        SELECT a.userId,
        a.userName,
        b.channelId ,
        c.channelName ,
        'CZ_'+SUBSTRING(c.ChannelName, 0, 5) seniorCode ,
        '初'+SUBSTRING(c.ChannelName, 0, 5)+'届' seniorName ,
        CASE
        WHEN CHARINDEX('文理', c.ChannelName) > 0 THEN '文理科'
        WHEN CHARINDEX('文科', c.ChannelName) > 0 THEN '文科'
        WHEN CHARINDEX('理科', c.ChannelName) > 0 THEN '理科'
        END AS wlk,
        s.provinceAdCode ,
        s.provinceName ,
        s.cityAdCode ,
        s.cityName ,
        s.areaAdCode ,
        s.areaName ,
        s.schoolName ,
        s.schoolLat ,
        s.schoolLng ,
        lesson.SubjectCode AS subjectCode,
        lesson.SubjectName AS SubjectName,
        lesson.LessonBeginDateTime AS beginTime,
        lesson.LessonEndDateTime AS endTime,
        CASE
        WHEN CHARINDEX('备课',c.channelName)>0 THEN '备课'
        ELSE '上课'
        END AS remoteType,
        CASE
        WHEN d.UserId IS NOT NULL  OR e.UserName IS NOT NULL THEN 1
        ELSE 0
        END AS satelliteOnline
        FROM [CZZB_transaction].[dbo].[t_System_User] a
        LEFT JOIN [CZZB_transaction].[dbo].[t_System_UserChannels] b ON a.UserID =b.UserID
        LEFT JOIN [CZZB_transaction].[dbo].[t_System_Channels] c ON b.ChannelID =c.ChannelID
        INNER JOIN dbo.Region s ON SUBSTRING(a.UserName, 0,(len(a.UserName))-(CHARINDEX('（', reverse(a.UserName), 0))+1)  = s.SchoolName
        LEFT JOIN
        (
        SELECT
        a.*,
        c.[SubjectCode],
        c.[SubjectName],
        c.[SubjectValue]
        FROM
        (SELECT *
        FROM [CZ_XXPT_SNAPSHOT].[dbo].[WD_BASE_ZHI_BO_Lessons]
        WHERE [LessonBeginDateTime]<![CDATA[ <= ]]>DATEADD(DAY,0,getDate())
        AND LessonEndDateTime<![CDATA[ >= ]]>DATEADD(DAY,0,getDate())) a
        LEFT JOIN [CZ_XXPT_SNAPSHOT].[dbo].[WD_BASE_ZHI_BO_Teacher] b
        ON a.[TeacherID]= b.[TeacherID]
        LEFT JOIN [CZZB_transaction].[dbo].[t_System_Subject] c
        ON b.[SubjectID]=c.[SubjectID]
        )lesson
        ON b.ChannelID=lesson.ChannelID and a.UserSubject<![CDATA[ & ]]>lesson.SubjectValue>0
        LEFT JOIN (select * from [CZ_XXPT_SNAPSHOT].[dbo].[WD_BASE_ZHI_BO_UserLessons] where UserLessonDescription ='在线未显@') d
        on lesson.LessonID=d.lessonid and a.UserID =d.UserID and UserLessonAddDateTime <![CDATA[ <= ]]> lesson.LessonEndDateTime
        and UserLessonAddDateTime<![CDATA[ >= ]]>LessonBeginDateTime
        LEFT JOIN
        (
        SELECT DISTINCT UserName
        FROM
        (
        SELECT ROW_NUMBER() OVER (PARTITION BY UserName ORDER BY UserActiveDateTime DESC) AS rank ,
        UserName ,
        ChannelName,
        UserActiveType
        FROM [CZZB_transaction].[dbo].[t_System_UserActive]
        WHERE UserActiveDateTime <![CDATA[ >= ]]>CONVERT(datetime,Convert(varchar(10),DATEADD(DAY,-3,getDate())))
        ) t
        WHERE t.rank = 1 AND t.UserActiveType = 1) e ON a.UserName=e.UserName
        ) tt
        WHERE 1=1
        <include refid="com.eastedu.bigdata.remoteliving.dao.mapper.remote.CommonSqlMapper.filterCondition"></include>
    </select>
    <!--获取小学在线用户详情-->
    <select id="xxGetUserOnlineDetail" resultType="UserOnlineDetailPO"
            parameterType="UserOnlineCondition">
        SELECT distinct *
        FROM
        (
        SELECT a.userId,
        a.userName,
        b.channelId ,
        c.channelName ,
        'GZ_'+SUBSTRING(c.ChannelName, 0, CHARINDEX('届', c.ChannelName, 0)) seniorCode ,
        '高'+SUBSTRING(c.ChannelName, 0, CHARINDEX('届', c.ChannelName, 0))+'届' seniorName ,
        CASE
        WHEN CHARINDEX('文理', c.ChannelName) > 0 THEN '文理科'
        WHEN CHARINDEX('文科', c.ChannelName) > 0 THEN '文科'
        WHEN CHARINDEX('理科', c.ChannelName) > 0 THEN '理科'
        END AS wlk,
        s.provinceAdCode ,
        s.provinceName ,
        s.cityAdCode ,
        s.cityName ,
        s.areaAdCode ,
        s.areaName ,
        s.schoolName ,
        s.schoolLat ,
        s.schoolLng ,
        lesson.SubjectCode AS subjectCode,
        lesson.SubjectName AS SubjectName,
        lesson.LessonBeginDateTime AS beginTime,
        lesson.LessonEndDateTime AS endTime,
        CASE
        WHEN CHARINDEX('备课',c.channelName)>0 THEN '备课'
        ELSE '上课'
        END AS remoteType,
        CASE
        WHEN d.UserId IS NOT NULL  OR e.UserName IS NOT NULL THEN 1
        ELSE 0
        END AS satelliteOnline
        FROM [senionUnitedClass].[dbo].[t_System_User] a
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_UserChannels] b ON a.UserID =b.UserID
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_Channels] c ON b.ChannelID =c.ChannelID
        INNER JOIN dbo.Region s ON SUBSTRING(a.UserName, 0,(len(a.UserName))-(CHARINDEX('（', reverse(a.UserName), 0))+1)  = s.SchoolName
        LEFT JOIN
        (
        SELECT
        a.*,
        c.[SubjectName],
        c.[SubjectCode],
        c.[SubjectValue]
        FROM
        (SELECT *
        FROM [GZ_XXPT_transaction].[dbo].[WD_BASE_ZHI_BO_Lessons]
        WHERE [LessonBeginDateTime]<![CDATA[ <= ]]>DATEADD(DAY,0,getDate())
        AND LessonEndDateTime<![CDATA[ >= ]]>DATEADD(DAY,0,getDate())) a
        LEFT JOIN [GZ_XXPT_transaction].[dbo].[WD_BASE_ZHI_BO_Teacher] b
        ON a.[TeacherID]= b.[TeacherID]
        LEFT JOIN [senionUnitedClass].[dbo].[t_System_Subject] c
        ON b.[SubjectID]=c.[SubjectID]
        )lesson
        ON b.ChannelID=lesson.ChannelID and a.UserSubject<![CDATA[ & ]]>lesson.SubjectValue>0
        LEFT JOIN (select * from GZ_XXPT_transaction.dbo.WD_BASE_ZHI_BO_UserLessons where UserLessonDescription ='在线未显@') d
        on lesson.LessonID=d.lessonid and a.UserID =d.UserID and UserLessonAddDateTime <![CDATA[ <= ]]> lesson.LessonEndDateTime
        and UserLessonAddDateTime<![CDATA[ >= ]]>LessonBeginDateTime
        LEFT JOIN
        (
        SELECT DISTINCT UserName
        FROM
        (
        SELECT ROW_NUMBER() OVER (PARTITION BY UserName ORDER BY UserActiveDateTime DESC) AS rank ,
        UserName ,
        ChannelName,
        UserActiveType
        FROM [senionUnitedClass].[dbo].[t_System_UserActive]
        WHERE UserActiveDateTime >=CONVERT(datetime,Convert(varchar(10),DATEADD(DAY,-3,getDate())))
        ) t
        WHERE t.rank = 1 AND t.UserActiveType = 1) e ON a.UserName=e.UserName
        ) tt
        WHERE 1=1
        <include refid="com.eastedu.bigdata.remoteliving.dao.mapper.remote.CommonSqlMapper.filterCondition"></include>
    </select>
</mapper>